
#policy {
    width: 70%;
    /* border: solid red 2px; */
    text-align: center;

    max-width: 500px;
}

#policy h1 {
    font-size: 2.5em;
    margin: 50px 0;
}
#policy h2 {
    margin-top: 25px;
}
#policy p, ul {
    margin-left: 0px;
}